# Database configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=foundify
DB_USER=postgres
DB_PASS=

# API Service Config
JWT_SECRET=
JWT_EXPIRES_IN_MINUTES=15
JWT_ALGORITHM=HS256
APP_PORT=3000
APP_ENV=production
